:root {
  --first-color: #963be7;
  --second-color: #3b0962;
  --terciary-color: #fd2c9a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    width: 98vw;
    height: auto;
    display:flex;
}