body > .right-container {
    width: 710%;
    height: max-content;
    background-color: var(--second-color);
    position:relative;
    padding: 1rem;
    left: 30%;
}

.right-container > .main-container {
    width: 98%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-info {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.section-info > h2 {
    color: var(--first-color);
    font-size: 2rem;
    border-bottom: solid 2px #fff ;
    padding-bottom: 0.5rem;
}

.section-profile > p{
    margin-top: 0.5rem;
    padding: 0.2rem;
    font-size: 1.5rem;
    color: #fff;
}

.container-cards{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card-projects{
    width: 18rem;
    height: max-content;
    border-color: var(--terciary-color);
    margin:1rem;
    display: flex;
}

.card projects > .container-img-card {
    width: 50%;
    height: 100%;
    border-radius: 7px 0 0 7px;
    display:block;
}

.card-projects > .container-description-card{
  width: 50%;
  height: 100%;
  border-radius: 0 7px 7px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-description-card > h3,
.container-description-card > p {
    text-align: center;
    color: #fff;
    font-size: 1rem;
    margin-top: 0.2rem;
}

.container-description-card > p {
    font-size: 0.8rem;
    font-weight: 200;
    margin-top: 1rem;
}

.container-description-card > a {
    margin-top: 1rem;
    text-decoration: none;
    font-size: 0.6rem;
    width: 5rem;
    padding: 0.1rem;
    color: #fff;
    background-color: var(--first-color);
    border-radius: 10px;
}

.container-description-card > a:hover {
    background-color: var(--second-color);
    box-shadow: 0 0 10px #fff;
}

.card-references {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.card-references > .card-references{
    width: 12rem;
    height: 11rem;
    background-color: var(--first-color);
    border-radius:10px ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    color: #000;
    line-height: 1.5rem;
    font-size: 1rem;
}

.card-reference > p > span{
    font-size: 0.8rem;
    text-align: right;
    font-weight: 600;
    color: #fff;
}

.container-experience{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-experience{
    width: 12rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}